<script type="text/template" id="D-tmpl-alert">
    <div class="d-dialog-cell">
        <p class='d-dialog-title'>
            <&=title&>
        </p>
        <p class="d-dialog-con">
            <&=content&>
        </p>
        <div class="d-dialog-btns">
            <a href="javascript:" class="btn" id="D-confirm-y">
                <&=btnY&>
            </a>
            <a href="javascript:" class="btn" id="D-confirm-n">
                <&=btnN&>
            </a>
        </div>
    </div>
</script>
